* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #393e46;
}

/*  */
.primary {
    letter-spacing: 2px;
    font-size: 3.5rem;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

.secondary {
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.about_p {
    line-height: 1.1rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
}

/* Nav */

li, a, .btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #222831;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    padding: 5px 10%;
    background-color: #eeeeee;
}

.logo_nav {
    width: 12%;
    height: auto;
    cursor: pointer;
    margin-right: auto;
}

.nav_ul {
    list-style: none;
}

.nav_ul li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_ul li a {
    transition: all 0.3 ease 0s;
}

.nav_ul li a:hover {
    color: #00adb5; 
}

.btn {
    color: #eeeeee;
    padding: 9px 25px;
    background-color: rgba(0, 173, 181, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease-in 0s;
    margin-left: 20px;
}

.btn:hover {
    background-color: rgba(0, 173, 181, 0.8);
}

/* Projects */
.projects {
    margin: 5%;
    background-color: #222831;
    text-align: center;
}

.projects h1 {
    color: #00adb5;
    padding: 3% 0 0;
    margin: 3% auto;
}

.boxes {
    margin: 5%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    padding-bottom: 5%;
}

.box {
    background-color: #393e46;
    padding: 1.5rem 2rem;
    color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    font-weight: 150;
    box-shadow: 0 0px 1px 0.1em rgba(0, 172, 181, 0.24);
}

.box h3 {
    letter-spacing: 0.2rem;
    font-size: 2rem;
    padding: 6% 0%;
}

.box p {
    width: 80%;
    margin: 0 auto;
}
/* Footer */
footer {
    /* padding-top: 2%; */
    background-color: #393E46;
    font-family: 'Montserrat', sans-serif;  
    color: #eeeeee;
    text-align: center;
}

footer h3{
    font-weight: 150;
    padding: 2%;
    letter-spacing: 0.1rem;
}

footer div i {
    margin: 0 1%;
}

footer a {
    color: #eeeeee;
    font-weight: 150;
    letter-spacing: 0.1rem;
}
